<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Uploader</title>
    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/cs.css' %}">
</head>

<body>
    <div class="container">
        <div class="py-5 bg-secondary text-center text-white">
            <form action="{% url 'home' %}" method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                <h1 class="mb-3">Upload Image</h1>
                {{form}}
                <input type="submit" class="btn btn-danger" value="Upload">
            </form>
        </div>

        <div class="row">
            {% for img in images %}
            <div class="col-sm-4">
                <div class="card m-2">
                    <img src="{{img.photo.url}}" alt="" class="card-image-top" height='200px'>
                    <div class="card-footer">
                        <small class="text-muted">{{img.date}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- js.  -->
    <script src="{% static 'myapp/js/bootstrap.js' %}"></script>
    <script src="{% static 'myapp/js/popper.js' %}"></script>
</body>

</html>